/*
 * BankTechAPI.Standard
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
 */
using System;
using System.Collections.Generic;
using System.Dynamic;
using System.Globalization;
using System.IO;
using System.Linq;
using System.Text;
using System.Threading.Tasks;
using Newtonsoft.Json.Converters;
using BankTechAPI.Standard;
using BankTechAPI.Standard.Utilities;
using BankTechAPI.Standard.Http.Request;
using BankTechAPI.Standard.Http.Response;
using BankTechAPI.Standard.Http.Client;
using BankTechAPI.Standard.Exceptions;

namespace BankTechAPI.Standard.Controllers
{
    public partial class ServiceController: BaseController
    {
        #region Singleton Pattern

        //private static variables for the singleton pattern
        private static object syncObject = new object();
        private static ServiceController instance = null;

        /// <summary>
        /// Singleton pattern implementation
        /// </summary>
        internal static ServiceController Instance
        {
            get
            {
                lock (syncObject)
                {
                    if (null == instance)
                    {
                        instance = new ServiceController();
                    }
                }
                return instance;
            }
        }

        #endregion Singleton Pattern

        /// <summary>
        /// TODO: type endpoint description here
        /// </summary>
        /// <param name="xApiVersion">Required parameter: The requested API version</param>
        /// <return>Returns the Models.CacheCleared response from the API call</return>
        public Models.CacheCleared GetClearApplicationCache(double xApiVersion)
        {
            Task<Models.CacheCleared> t = GetClearApplicationCacheAsync(xApiVersion);
            APIHelper.RunTaskSynchronously(t);
            return t.Result;
        }

        /// <summary>
        /// TODO: type endpoint description here
        /// </summary>
        /// <param name="xApiVersion">Required parameter: The requested API version</param>
        /// <return>Returns the Models.CacheCleared response from the API call</return>
        public async Task<Models.CacheCleared> GetClearApplicationCacheAsync(double xApiVersion)
        {
            //the base uri for api requests
            string _baseUri = Configuration.GetBaseURI();

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/Service/clearcache");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "accept", "application/json" },
                { "x-api-version", xApiVersion.ToString() }
            };
            _headers.Add("x-api-version", Configuration.XApiVersion);
            _headers.Add("x-api-key", Configuration.XApiKey);

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);

            //Error handling using HTTP status codes
            if (_response.StatusCode == 400)
                throw new BadRequestException(@"Bad Request", _context);

            if (_response.StatusCode == 401)
                throw new UnauthorizedRequestException(@"Unauthorized", _context);

            if (_response.StatusCode == 403)
                throw new ForbiddenRequestException(@"Forbidden", _context);

            if (_response.StatusCode == 500)
                throw new AnUnexpectedErrorHasOccuredPleaseContactYourAdministratorException(@"Internal Server Error", _context);

            if (_response.StatusCode == 503)
                throw new ServiceIsCurrentlyUnavailablePleaseTryAgainLaterOrContactYourAdministratorException(@"Service Unavailable", _context);

            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

            try
            {
                return APIHelper.JsonDeserialize<Models.CacheCleared>(_response.Body);
            }
            catch (Exception _ex)
            {
                throw new APIException("Failed to parse the response: " + _ex.Message, _context);
            }
        }

        /// <summary>
        /// TODO: type endpoint description here
        /// </summary>
        /// <param name="xApiVersion">Required parameter: The requested API version</param>
        /// <return>Returns the void response from the API call</return>
        public void GetAListOfAClientsInstruments(double xApiVersion)
        {
            Task t = GetAListOfAClientsInstrumentsAsync(xApiVersion);
            APIHelper.RunTaskSynchronously(t);
        }

        /// <summary>
        /// TODO: type endpoint description here
        /// </summary>
        /// <param name="xApiVersion">Required parameter: The requested API version</param>
        /// <return>Returns the void response from the API call</return>
        public async Task GetAListOfAClientsInstrumentsAsync(double xApiVersion)
        {
            //the base uri for api requests
            string _baseUri = Configuration.GetBaseURI();

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/Service/clientinstruments");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "x-api-version", xApiVersion.ToString() }
            };
            _headers.Add("x-api-version", Configuration.XApiVersion);
            _headers.Add("x-api-key", Configuration.XApiKey);

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);

            //Error handling using HTTP status codes
            if (_response.StatusCode == 400)
                throw new BadRequestException(@"Bad Request", _context);

            if (_response.StatusCode == 401)
                throw new UnauthorizedRequestException(@"Unauthorized", _context);

            if (_response.StatusCode == 403)
                throw new ForbiddenRequestException(@"Forbidden", _context);

            if (_response.StatusCode == 500)
                throw new AnUnexpectedErrorHasOccuredPleaseContactYourAdministratorException(@"Internal Server Error", _context);

            if (_response.StatusCode == 503)
                throw new ServiceIsCurrentlyUnavailablePleaseTryAgainLaterOrContactYourAdministratorException(@"Service Unavailable", _context);

            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

        }

        /// <summary>
        /// TODO: type endpoint description here
        /// </summary>
        /// <param name="xApiVersion">Required parameter: The requested API version</param>
        /// <return>Returns the void response from the API call</return>
        public void GetAListOfNonProcessingDays(double xApiVersion)
        {
            Task t = GetAListOfNonProcessingDaysAsync(xApiVersion);
            APIHelper.RunTaskSynchronously(t);
        }

        /// <summary>
        /// TODO: type endpoint description here
        /// </summary>
        /// <param name="xApiVersion">Required parameter: The requested API version</param>
        /// <return>Returns the void response from the API call</return>
        public async Task GetAListOfNonProcessingDaysAsync(double xApiVersion)
        {
            //the base uri for api requests
            string _baseUri = Configuration.GetBaseURI();

            //prepare query string for API call
            StringBuilder _queryBuilder = new StringBuilder(_baseUri);
            _queryBuilder.Append("/Service/calendardays");


            //validate and preprocess url
            string _queryUrl = APIHelper.CleanUrl(_queryBuilder);

            //append request with appropriate headers and parameters
            var _headers = new Dictionary<string,string>()
            {
                { "user-agent", "APIMATIC 2.0" },
                { "x-api-version", xApiVersion.ToString() }
            };
            _headers.Add("x-api-version", Configuration.XApiVersion);
            _headers.Add("x-api-key", Configuration.XApiKey);

            //prepare the API call request to fetch the response
            HttpRequest _request = ClientInstance.Get(_queryUrl,_headers);

            //invoke request and get response
            HttpStringResponse _response = (HttpStringResponse) await ClientInstance.ExecuteAsStringAsync(_request).ConfigureAwait(false);
            HttpContext _context = new HttpContext(_request,_response);

            //Error handling using HTTP status codes
            if (_response.StatusCode == 400)
                throw new BadRequestException(@"Bad Request", _context);

            if (_response.StatusCode == 401)
                throw new UnauthorizedRequestException(@"Unauthorized", _context);

            if (_response.StatusCode == 403)
                throw new ForbiddenRequestException(@"Forbidden", _context);

            if (_response.StatusCode == 500)
                throw new AnUnexpectedErrorHasOccuredPleaseContactYourAdministratorException(@"Internal Server Error", _context);

            if (_response.StatusCode == 503)
                throw new ServiceIsCurrentlyUnavailablePleaseTryAgainLaterOrContactYourAdministratorException(@"Service Unavailable", _context);

            //handle errors defined at the API level
            base.ValidateResponse(_response, _context);

        }

    }
} 